@font-face {
    font-family: 'Nunito';
    src: url('./font/Nunito-Light.woff2') format('woff2'),
        url('./font/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./font/Nunito-Light.woff2') format('woff2'),
        url('./font/Nunito-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* ----------------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;

    overflow-y: hidden;
    overflow-x: hidden;
}
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/* ----------------------------------------------------- */


body {
    font-family: 'nunito';
}

/* Heading */
nav {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background: none;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1.25rem;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
}

button:hover {
    color: rgba(0, 0, 0, 0.473);
    transition: 100ms;
}   